.contact__section {
  height: 100vh;
  /* so it will take up the entire screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* always vertically centered */
}

.contact__title {
  display: flex;
  align-items: center;
  color: var(--secondary-gray);
  font-size: var(--text-lg);
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.contact__title > span {
  font-size: var(--text-base);
  /* which is the default size */
  color: var(--primary-green);
  padding-right: 1rem;
}

.contact__content > h3 {
  font-size: var(--text-4xl);
  font-weight: 600;
  color: var(--secondary-gray);
  margin-bottom: 1.5rem;
}

.contact__cta {
  margin-top: 4rem;
}

.contact__content > p {
  font-size: var(--text-lg);
}

.contact__cta > a {
  text-decoration: none;
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
  border-radius: 0.25rem;
  padding: 1.25rem 1.75rem;
}

.contact__cta > a:hover {
  color: #0a192f;
  background-color: var(--primary-green);
  transition-property: all;
  /* which means whatever i'm doing, i still wanna change the transision no matter the colour, size and etc*/
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  /* which makes the transition slower the higher the number */
}

@media (min-width: 640px) {
  .contact__title {
    font-size: var(--text-2xl);
  }

  .contact__title > span {
    font-size: var(--text-lg);
  }

  .contact__content > h3 {
    font-size: var(--text-5xl);
  }
}

@media (min-width: 768px) {
  .contact__title {
    font-size: var(--text-3xl);
  }

  .contact__title > span {
    font-size: var(--text-xl);
  }

  .contact__content > h3 {
    font-size: var(--text-7xl);
  }
}
